.product__section1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 25em;
    column-gap: 9em;
}

.product__img1 {
    
    width: 350px;
	height: 350px;
	object-fit:contain;
}

.card__h3 {
    margin-top: 6em;
}
.prod__quantity {
    border: 1px solid black;
    padding-left: 1em;
    padding-right: 1em;
    gap: 1em;
}
.card__quantity {
    padding-right: 1em;
}
.card__price {
    display: flex;
    flex-direction: row;
    gap: 2.6em;
}
.price__content::before {
    content: '$';
}
.button__card {
    width: 80px;
    margin-top: 2em;
    background-color: #f85555;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.014);
    border-radius: 7px;
    transition: 0.4s;
    color: rgba(255, 255, 255, 0.938);
}

.button__card:hover{
    background-color: black;     
}



