.filter__form {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.filter__label {
    display: flex;
    gap: 0.5em ;
    padding-bottom: 0.9em;
}
.filter__span1 {
    padding-left: 0.5em;
}
.filter__label1 {
    display: flex;
    gap: 1.8em ;
    padding-bottom: 0.9em;
}
.filter__button {
    border: 1px solid rgba(0, 0, 0, 0.021);
    background-color: #f85555;
    font-size: 0.9rem;
    outline: none;
    width: 23%;
    border-radius: 5px;
    margin-left: 9.8em;
    color: white;
    transition: 0.4s;
}

.filter__button:hover {
    background-color: black;     
}
.filter__input {
    border: 1px solid rgba(128, 128, 128, 0.473);
    outline: none;

}